$color1: rgba(241, 80, 37, 1);
$color1-trans: rgba(241, 80, 37, 0.5);
$color2: rgba(255, 255, 255, 1);
$color2-trans: rgba(255, 255, 255, 0.5);
$color3: rgba(230, 232, 230, 1);
$color3-trans: rgba(230, 232, 230, 0.5);
$color4: rgba(206, 208, 206, 1);
$color4-trans: rgba(206, 208, 206, 0.5);
$color5: rgba(25, 25, 25, 1);
$color5-trans: rgba(25, 25, 25, 0.5);
